body
{
    background-size: cover;
}
.heading
{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}
#start , #no_of_objects , #status
{
    font-size: 18px;
}
canvas
{
    border: 10px solid lightcoral;
    border-radius: 10px;
    margin-top: 60px;
    box-shadow: 10px 10px 10px silver;
}
.copy_right_footer
{
    position: fixed;
    color: white;
    background-color: blue;
    width: 100%;
    bottom: 0;
    line-height: 2;
    text-align: center;
}